<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link rel="stylesheet" href="app.css?v=1.10"/>
    <link rel="stylesheet" href="CemesMultiplayerSudoku.Client.bundle.scp.css?v=1.11"/>
    <!--<link rel="stylesheet" href="CemesMultiplayerSudoku.styles.css"/>-->

    <HeadOutlet @rendermode="@InteractiveAuto"/>
</head>

<body style="margin: 0">
<Routes @rendermode="@InteractiveAuto"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>